html, body {
    height:100%
}

  
  .grad-div {
      height: 100vh;
      background-repeat: no-repeat;
      animation: gradient 10s ease infinite;
  }
  @media (max-width:735px){
    .grad-div{
        background-size: 75% 50%;
        background-repeat: no-repeat;
        background-color: black;
    }
  
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }